# ** please load your data below the code :)**

In [8]:
import pandas as pd
#two types allowed to load xlsx or csv files
class Load_data:
    def __init__(self, file_name=None):
        self.df = None
        if file_name:
            try:
                file_extension = file_name.split('.')[-1].lower() 
                if file_extension == 'xlsx' or file_extension == 'xls':
                    self.df = pd.read_excel(file_name)  
                    print("Data successfully loaded")
                elif file_extension == 'csv':
                    self.df = pd.read_csv(file_name)
                    print("Data successfully loaded")
                else:
                    print("Unsupported file format.")
            except Exception as e:
                print("Error loading data")
        else:
            print("No file path provided.")
    
    def Data_overview(self): 
        if self.df is not None:
            print(self.df.info())
            print(f"\nShape: {self.df.shape}, Data types:\n{self.df.dtypes}")
            print(f"\nMissing values:\n{self.df.isnull().sum()}")
            print(f"\nUnique values per column:\n{self.df.nunique()}")
        else:
            print("Data not loaded. Please provide a valid file path.")

In [9]:
class DataProcessing(Load_data):
    def __init__(self, file_name):
        super().__init__(file_name)
        #handling missing vlaues:
        self.df["Exit Date"] = self.df["Exit Date"].fillna(pd.to_datetime("2050-12-31"))  # Fill null with a far-future date to represent ongoing employment
        self.df['Full Name'] = self.df['Full Name'].fillna('Unknown')
        self.df['Job Title'] = self.df['Job Title'].fillna('Unknown')
        self.df['Department'] = self.df['Department'].fillna('Not Assigned')
        self.df['Gender'] = self.df['Gender'].fillna('Not Provided')
        self.df['Ethnicity'] = self.df['Ethnicity'].fillna('Not Provided')
        self.df['Age'] = self.df['Age'].fillna(self.df['Age'].mean()) #fill age with the mean vlaue of column age
        self.df['Hire Date'] = self.df['Hire Date'].fillna(pd.to_datetime('1900-01-01')) #fill hire date with random data
        self.df['Annual Salary'] = self.df['Annual Salary'].fillna(self.df['Annual Salary'].median()) #fill salary with median since CEOs can be outliers :D
        self.df['Bonus %'] = self.df['Bonus %'].fillna(self.df['Bonus %'].mean())
        self.df['Country'] = self.df['Country'].fillna('Not Provided')
        self.df['City'] = self.df['City'].fillna('Not Provided')
    def ShowData_after_processing(self):
        self.Data_overview()
    def save_processing_as_new_file(self, directory): #the user will provide the directory only
        file_name = "Processed_Employee_Data"
        full_file_path = f"{directory}\\{file_name}.xlsx"
        self.df.to_excel(full_file_path, index=False)
        print("Data successfully saved ")

In [10]:
class Data_analysis(DataProcessing):
    def __init__(self,file_name):
        super().__init__(file_name)
    def group_data(self):
        print("\nAverage Age and Salary by Department:")
        print(self.df.groupby('Department')[['Age', 'Annual Salary']].mean())
        print("\nMax Age, Min Age, and Median Salary by Department and Ethnicity:")
        print(self.df.groupby(['Department', 'Ethnicity'])[['Age', 'Annual Salary']].agg(['max', 'min', 'median']))
    def employment_with_largest_salary(self):
       max_salary = self.df['Annual Salary'].max()
       print("\nThe employee with the highest salary")
       print(self.df[self.df['Annual Salary'] == max_salary])

In [ ]:
data = Data_analysis(r"C:\Users\Estarta\Desktop\Project\Employee_Sample_Data.xlsx")
data.Data_overview()
data.save_processing_as_new_file(r"C:\Users\Estarta\Desktop\Project")
data.group_data()
data.employment_with_largest_salary()

Data successfully loaded
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   EEID           1000 non-null   object
 1   Full Name      1000 non-null   object
 2   Job Title      1000 non-null   object
 3   Department     1000 non-null   object
 4   Business Unit  1000 non-null   object
 5   Gender         1000 non-null   object
 6   Ethnicity      1000 non-null   object
 7   Age            1000 non-null   float64
 8   Hire Date      1000 non-null   datetime64[ns]
 9   Annual Salary  1000 non-null   float64
 10  Bonus %        1000 non-null   float64
 11  Country        1000 non-null   object
 12  City           1000 non-null   object
 13  Exit Date      1000 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(3), object(9)
memory usage: 109.5+ KB
None

Shape: (1000, 14), Data types:
EEID                     object
Full Name                object
Job Title                object
Department               object
Business Unit            object
Gender                   object
Ethnicity                object
Age                     float64
Hire Date        datetime64[ns]
Annual Salary           float64
Bonus %                 float64
Country                  object
City                     object
Exit Date        datetime64[ns]
dtype: object

Missing values:
EEID             0
Full Name        0
Job Title        0
Department       0
Business Unit    0
Gender           0
Ethnicity        0
Age              0
Hire Date        0
Annual Salary    0
Bonus %          0
Country          0
City             0
Exit Date        0
dtype: int64

Unique values per column:
EEID             911
Full Name        990
Job Title         34
Department         8
Business Unit      4
Gender             3
Ethnicity          5
Age               42
Hire Date        944
Annual Salary    985
Bonus %           38
Country            4
City              14
Exit Date         84
dtype: int64
Data successfully saved

Average Age and Salary by Department:
                       Age  Annual Salary
Department
Accounting       43.656250  123146.947917
Engineering      45.666894  109053.101266
Finance          45.203077  122986.350000
Human Resources  44.443548  117907.088710
IT               44.358782   97942.350000
Marketing        43.216667  129663.033333
Not Assigned     45.000000   66902.500000
Sales            43.609780  111120.635714

Max Age, Min Age, and Median Salary by Department and Ethnicity:
                                    Age                       Annual Salary  \
                                    max        min     median           max
Department      Ethnicity
Accounting      Asian         64.000000  25.000000  45.000000      252325.0
                Black         51.000000  30.000000  31.000000      124629.0
                Caucasian     62.000000  26.000000  41.000000      253294.0
                Latino        62.000000  26.000000  42.500000      258426.0
Engineering     Asian         65.000000  25.000000  46.500000      254289.0
                Black         56.000000  27.000000  45.000000      187205.0
                Caucasian     64.000000  25.000000  45.500000      255431.0
                Latino        64.000000  27.000000  46.000000      240488.0
                Not Provided  44.369215  44.369215  44.369215       96567.0
Finance         Asian         64.000000  25.000000  48.000000      249686.0
                Black         65.000000  25.000000  51.000000      223805.0
                Caucasian     64.000000  25.000000  41.000000      250767.0
                Latino        65.000000  25.000000  44.000000      255369.0
                Not Provided  60.000000  44.369215  51.000000      146742.0
Human Resources Asian         64.000000  25.000000  45.000000      250953.0
                Black         55.000000  25.000000  42.000000      236946.0
                Caucasian     64.000000  26.000000  45.500000      231850.0
                Latino        65.000000  29.000000  45.000000      249801.0
IT              Asian         65.000000  25.000000  45.000000      256561.0
                Black         61.000000  28.000000  41.000000      246619.0
                Caucasian     65.000000  26.000000  47.000000      249870.0
                Latino        64.000000  25.000000  44.000000      247874.0
                Not Provided  44.369215  44.369215  44.369215       96567.0
Marketing       Asian         65.000000  25.000000  45.000000      257194.0
                Black         65.000000  27.000000  41.500000      221217.0
                Caucasian     65.000000  25.000000  35.000000      256420.0
                Latino        65.000000  29.000000  40.000000      239394.0
Not Assigned    Black         46.000000  46.000000  46.000000       59067.0
                Caucasian     44.000000  44.000000  44.000000       74738.0
Sales           Asian         64.000000  25.000000  45.000000      253249.0
                Black         65.000000  26.000000  43.000000      222224.0
                Caucasian     63.000000  26.000000  38.000000      219693.0
                Latino        61.000000  26.000000  47.000000      258498.0
                Not Provided  44.369215  44.369215  44.369215       96567.0


                                  min    median
Department      Ethnicity
Accounting      Asian         50809.0  114893.0
                Black         67753.0   91853.0
                Caucasian     45819.0  121159.5
                Latino        45049.0   92317.0
Engineering     Asian         60017.0   91230.0
                Black         62575.0   74412.0
                Caucasian     61773.0   96057.0
                Latino        60055.0   96818.0
                Not Provided  96567.0   96567.0
Finance         Asian         41561.0  124928.0
                Black         41336.0  131652.0
                Caucasian     46081.0  102847.0
                Latino        43363.0  124553.0
                Not Provided  71699.0   96567.0
Human Resources Asian         41728.0  125871.5
                Black         47071.0  142318.0
                Caucasian     48510.0  100364.5
                Latino        43001.0  101985.0
IT              Asian         40063.0   90396.5
                Black         52733.0   74834.5
                Caucasian     40124.0   84596.0
                Latino        40316.0   83934.0
                Not Provided  96567.0   96567.0
Marketing       Asian         40897.0  147752.0
                Black         51513.0   86075.5
                Caucasian     40752.0  113135.0
                Latino        45206.0   97063.5
Not Assigned    Black         59067.0   59067.0
                Caucasian     74738.0   74738.0
Sales           Asian         46845.0   89528.5
                Black         62411.0   94246.0
                Caucasian     46878.0   96092.0
                Latino        41429.0  113269.0
                Not Provided  96567.0   96567.0

The employee with the highest salary
       EEID     Full Name       Job Title Department  Business Unit  Gender  \
989  E04354  Raelynn Rios  Vice President      Sales  Manufacturing  Female

    Ethnicity   Age  Hire Date  Annual Salary  Bonus %        Country  \
989    Latino  43.0 2016-08-21       258498.0     0.35  United States

         City  Exit Date
989  Columbus 2050-12-31